*{
  padding:0;
  margin:0;
  box-sizing: border-box;

}
body{
  background-color: #f7f1e3;
  min-height: 100vh;
    font-family: sans-serif;
}

.container h1 {
  text-align: center;

    margin: 35px 0;
    font-weight: 500;
    letter-spacing: 1px;
}
.box h3{
  text-align: center;
  font-weight: 400;
}

.box{
  width:450px;
  height:500px;
  padding:30px;
  margin:5% auto;
  border-radius: 10px;
  background-color: #dff9fb;
}

.copy-right span{

  font-size:14px;
  margin-top:10px;
  display:block;
}

.copy-right span a{
    color: blue;
    text-decoration: none;
    transition: .6s ease;
}

.link{
    text-align: left;
    margin-top: 25px;
    font-size: 17px;
}
.link a{
    color: #273c75;
    letter-spacing: .5px;
}
.container {
    width: 600px;
    margin: 5% auto;
    color: #130f40;
    text-align: center;
}

.form-contorl{
    padding: 5px;
    width: 60%;
    border: 1px solid #34ace0;
}
